container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: sparkWaves/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: sparkWaves.settings

packages:
  yum:
    libjpeg-turbo-devel: []
